
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
 }
    html,body{
     height: 100%;
     margin: 0;
     padding: 0;
    }

    /* Mulai Konten Tambahan @rizkytri */
    
    main > .kontainer-tambahan-atas{
        background-color: #fff;
        padding-left: 180px;
    }

    .dua-kolom{
        text-align: center;
        float: left;
        width: 50%;
    }

    .dua-kolom> h2{
        padding-top: 3em;
        padding-right: 3em;
    }

    .studio{
        max-width: 500px;
        max-height: 500px;
    }

    main > .kontainer-tambahan-bawah{
        background-color: #fff;   
    }

    .kontainer-tambahan-bawah > h2{
        padding-top: 2em;
        text-align: center;
        padding-bottom: 2em;
    }

    .empat-kolom {
        text-align: center;
        float: left;
        width: 25%;
        padding: 10px;
      }

    .ikon{
        max-width: 100px;
    }

    .baris::after {
        content: "";
        display: table;
        clear: both;
    }

    .email{
        background-color: #dfddde;
        padding-left: 55px;
        margin: 0;
    }

    .inText{
          display: block;
          margin-bottom: 1em;
          width: 350px;
          height: 30px;
    }

    .inArea{
        height: 100px;
        width: 350px;
    }

    .inKirim{
          margin-left: 297px;
          background-color: black;
          color: white;
    }

    @media screen and (max-width: 992px) {
        main > .kontainer-tambahan-atas{
            padding-left: 0px;
        }
        .dua-kolom >img{
            padding-top: 2em;
        }
        .dua-kolom> h2{
            font-size: medium;
        }

        .studio{
            max-width: 240px;
            max-height: 240px;
        }
        
        .ikon{
            max-width: 80px;
        }
        .empat-kolom {
            text-align: center;
            float: left;
            width: 50%;
            padding: 10px;
          }

          /*footer responsive*/
          .footer {
		          height: 120px;
		          padding: 10px 20px;
	        }

	        .footer-logo {
		          float: left;
		          padding: 5px 3px;
	        }

	        .footer-list  {
		          float: right;
		          padding-top: 3px;
	        }

	       .footer-list li {
		         float: none;
		         padding: 2px 3px;
		         font-size: 12px;
	        }

	       .footer-list a {
		         display: block;
		         font-style: normal;
	        }
      }

      @media screen and (max-width: 600px) {
       .dua-kolom{
           width: 100%;
       }

       .dua-kolom> h2{
        padding-left: 3em;
    }
       
     
        .empat-kolom {
            text-align: center;
            float: left;
            width: 100%;
            padding: 10px;
        }

        .inText{
            display: block;
            margin-bottom: 1em;
            width: 150px;
        }

        .inArea{
          width: 150px;
        }

        .inKirim{
            margin-left: 98px;
        }
      }

      /* Selesai Konten Tambahan @rizkytri */
      /*footer responsive*/
        .footer {
		        height: 90px;
	      }

	      .footer-logo {
		        float: inherit;
		        padding: 0px;
		        margin: 2px 139px 0px;
	      }

	      .footer-list {
		        float: left;
		        padding: 0px;
		        margin: 0px
	      }

	      .footer-list li{
		        float: left;
		        padding: 3px 5px;
		        text-align: center;
		        margin: 1px 15px;
		    }
      }

      /* Footer..... */
li {
	list-style: none;
}


.footer {
	background-color: #C4C4C4;
	color: black;
	height: 160px;
	padding: 10px 15px;

}

.footer-logo {
	float: left;
	font-size: 36px;
	padding-left: 20px;
	padding-top: 10px;
	font-display: block;
	color: #FFFFFF;
	font-style: normal;
}

.footer-list {
	float: right;
	padding-top: 10px;

}

.footer-list li {
	padding-bottom: 5px;
	text-align: right;
}
.footer-list a{
	font-display: block;
	color: #fff;
}
